<h1>Dodaj projekt organizacji ruchu</h1>


<form method="post">
    <input type="text" id="LastName" name="LastName" />
    <input type="text" Email="Email" name="Email" />
    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/opcje">Wróć</a>
    </div>
    
</form>