@model CreatePracownik

<style>
    span {
        color: #1b00ff;
    }
</style>


<h1>Dodaj pracownika</h1>
<form method="post">

    <div class="input-field col s6">
        <label for="Imie">Imie</label>
        <input asp-for="Imie" type="text" class="validate">
        <span asp-validation-for="Imie"></span>
    </div>

    <div class="input-field col s6">
        <label for="Nazwisko">Nazwisko</label>
        <input asp-for="Nazwisko" type="text" class="validate">
        <span asp-validation-for="Nazwisko"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataZatrudnienia">DataZatrudnienia</label>
        <input asp-for="DataZatrudnienia" type="date" class="validate">
        <span asp-validation-for="DataZatrudnienia"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataOdejsciazPracy">DataOdejscia z Pracy</label>
        <input asp-for="DataOdejsciazPracy" type="date" class="validate">
        <span asp-validation-for="DataOdejsciazPracy"></span>
    </div>

    <div class="input-field col s6">
        <label for="Symbol">Symbol</label>
        <input asp-for="Symbol" type="text" class="validate">
        <span asp-validation-for="Symbol"></span>
    </div>

    <div class="input-field col s6">
        <label for="Email">Email</label>
        <input asp-for="Email" type="text" class="validate">
        <span asp-validation-for="Email"></span>
    </div>
    
   @* LISTY*@

    <div class="input-field col s6">
        <label for="Wydzial">Wydzial</label>
        <div>
            <select asp-for="WydzialId">
                @foreach (var wydz in Model.Wydzials)
                {
                    <option value="@wydz.id">@wydz.Nazwa</option>
                }
            </select>
        </div>
    </div>
    <div class="input-field col s6">
        <label for="Stanowisko">Stanowisko</label>
        <div>
            <select  asp-for="StanowiskoId" class="validate">
                @foreach (var st in Model.Stanowiskos)
                {
                    <option value="@st.Id">@st.Nazwa</option>
                    
                }
            </select>
            <span asp-validation-for="Stanowiskos"></span>
        </div>
    </div>


    

   

    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/PokazPracownikow" style="background-color: indianred">Wróć</a>
    </div>

</form>