<h1>Dodaj projekt organizacji ruchu</h1>
<form method="post">
    <input type="text" id="LastName" name="LastName" />
    <input type="text" Email="Email" name="Email" />
    <button type="submit">Zapisz</button>
</form>