@* ---------------------------------Opcje---------------------------*@


       
<div class="working-window">
    <div class="working-window_1">
        <a href="/Projektor/PokazProjekty">Wyświetl rejestr projektów</a>
        <a href="/Projektor/PokazPracownikow">Wyświetl pracowników</a>
        <a href="#">Wyświetl Zarządców Dróg</a>
        <a href="/Projektor/InneTabele" style="background-color: indianred">Pozostałe Tabele (słowniki)</a>
        

    </div>
</div>