body {
    font-family: 'Abel', sans-serif;
    background-color: rgb(221 221 221);
    /* background-color: #eaeaea; */
}
nav {
    background-color:  #2d4171;
    display: flex;
    /* background-color:  rgb(9, 147, 255); */
    border-radius: 0 0 45px 0;
    
}
.nav-syrenka {
    display:flex;
    justify-content: center;
    width: 12vw;

}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    width: 80vw;
    height: 70px;
    /* margin-left: 12vw;   */
}

.nav-menu-top {
    display: flex;
    justify-content: space-between;
    width: 15%;
    text-decoration: none;
    
}

.nav-menu-top a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-family: 'Abel', sans-serif;
}

.nav-menu-top a:hover {
    transform: scale(0.95);
    color: black;
    
}

.nav-logo {
    font-size: 40px;
    font-weight: bold;
}
.container {
    display: flex;
}

.container .menu-left {
    /* background-color:rgb(9, 147, 255); */
    background-color: #2d4171;
    /* border-radius: 0 45px 0 0; */
}

.menu-left {
    display: flex;
    justify-content: center;
    width:12vw; 
    height: calc(100vh - 70px);
}

.menu-left a {
    text-decoration: none;
    /* font-weight: bold; */
    transition: 0.1s;
    font-size: 20px;
    color: white;
}

.menu-left a:hover {
    transform: scale(0.9);
    color: red;
}

.menu-left-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 15px 20px 0 20px; */
    height: 30%;
    margin: 20px 5px;
    /* background-color: ; */
    border-radius: 10px;
    padding: 5px;
    
}

.working-window {
    /*display: flex;*/
    justify-content: center;
    width: 84vw;
    height: calc(100vh - 70px);
    padding: 0 15px 0 15px;
}

.working-window_1 {      
    display: grid;
    justify-content: start;
    margin: 10px;
    grid-template-columns: auto auto auto auto auto;
    /*grid-gap: 50px;*/
    width: 84vw;
    border-radius: 15px;
}

    .working-window_1 a {
        text-decoration: none;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 20px;
        transition: 0.15s;
        font-weight: bold;
        font-size: 20px;
        color: white;
        background-color: rgb(17, 36, 64);
        transition: 0.15s;
        
    }

.working-window_1 h2:hover {
    transform: scale(0.9);
    
}

    .working-window_1 input:hover {
        transform: scale(0.8);
    }


.login-class {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: ButtonShadow;
    border-block-color: yellow;
}

button {
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.15s;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(17, 36, 64);
    transition: 0.15s;
    font-family: 'Abel', sans-serif;
}

.button {
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.15s;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #939799;
    transition: 0.15s;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
}











/*wyci¹gniête z materialized --> https://materializecss.com/getting-started.html*/
========================================================

/*TABELE*/
table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

    table.striped tr {
        border-bottom: none;
    }

    table.striped > tbody > tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
    }

    table.striped > tbody > tr > td {
        border-radius: 0;
    }

    table.highlight > tbody > tr {
        -webkit-transition: background-color .25s ease;
        transition: background-color .25s ease;
    }

        table.highlight > tbody > tr:hover {
            background-color: rgba(242, 242, 242, 0.5);
        }

    table.centered thead tr th, table.centered tbody tr td {
        text-align: center;
    }

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        /* sort out borders */
    }

        table.responsive-table td:empty:before {
            content: '\00a0';
        }

        table.responsive-table th,
        table.responsive-table td {
            margin: 0;
            vertical-align: top;
        }

        table.responsive-table th {
            text-align: left;
        }

        table.responsive-table thead {
            display: block;
            float: left;
        }

            table.responsive-table thead tr {
                display: block;
                padding: 0 10px 0 0;
            }

                table.responsive-table thead tr th::before {
                    content: "\00a0";
                }

        table.responsive-table tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
        }

            table.responsive-table tbody tr {
                display: inline-block;
                vertical-align: top;
            }

        table.responsive-table th {
            display: block;
            text-align: right;
        }

        table.responsive-table td {
            display: block;
            min-height: 1.25em;
            text-align: left;
        }

        table.responsive-table tr {
            border-bottom: none;
            padding: 0 10px;
        }

        table.responsive-table thead {
            border: 0;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
        }
}



/*FORMS*/---------------------------

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/*button,*/
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/*button,*/
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/*button,*/
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/*button,*/
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

    /**
 * Remove the inner border and padding in Firefox.
 */
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /**
 * Restore the focus styles unset by the previous rule.
 */
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

    /**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*POZIOME WPISYWANIE ng-pluralize materialized*/
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s
}



//INPUT-FIELD
.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-field.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

    .input-field.inline input,
    .input-field.inline .select-dropdown {
        margin-bottom: 1rem;
    }

.input-field.col label {
    left: 0.75rem;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem);
}

.input-field > label {
    color: #230e0e;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

    .input-field > label:not(.label-icon).active {
        -webkit-transform: translateY(-14px) scale(0.8);
        transform: translateY(-14px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

.input-field > input[type]:-webkit-autofill:not(.browser-default):not([type="search"]) + label,
.input-field > input[type=date]:not(.browser-default) + label,
.input-field > input[type=time]:not(.browser-default) + label {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.input-field .helper-text {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

    .input-field .helper-text::after {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: 0.5rem;
}

    .input-field .prefix.active {
        color: #26a69a;
    }

    .input-field .prefix ~ input,
    .input-field .prefix ~ textarea,
    .input-field .prefix ~ label,
    .input-field .prefix ~ .validate ~ label,
    .input-field .prefix ~ .helper-text,
    .input-field .prefix ~ .autocomplete-content {
        margin-left: 3rem;
        width: 92%;
        width: calc(100% - 3rem);
    }

    .input-field .prefix ~ label {
        margin-left: 3rem;
    }



    /*=========WAVES---------------BUTTON*/
* Waves v0.6.0
* http://fian.my.id/Waves
*
* Copyright 2014 Alfiana E. Sibuea and other contributors
* Released under the MIT license
* https://github.com/fians/Waves/blob/master/LICENSE
*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}


