body {
    font-family: 'Abel', sans-serif;
    background-color: rgb(207, 187, 187);
    /* background-color: #eaeaea; */

}
nav {
    background-color:  #2d4171;
    display: flex;
    /* background-color:  rgb(9, 147, 255); */
    border-radius: 0 0 45px 0;
    
}
.nav-syrenka {
    display:flex;
    justify-content: center;
    width: 12vw;

}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    width: 80vw;
    height: 70px;
    /* margin-left: 12vw;   */
}

.nav-menu-top {
    display: flex;
    justify-content: space-between;
    width: 15%;
    text-decoration: none;
    
}

.nav-menu-top a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.nav-menu-top a:hover {
    transform: scale(0.95);
    color: black;
    
}

.nav-logo {
    font-size: 40px;
    font-weight: bold;
}
.container {
    display: flex;
}

.container .menu-left {
    /* background-color:rgb(9, 147, 255); */
    background-color: #2d4171;
    /* border-radius: 0 45px 0 0; */
}

.menu-left {
    display: flex;
    justify-content: center;
    width:12vw; 
    height: calc(100vh - 70px);
}

.menu-left a {
    text-decoration: none;
    /* font-weight: bold; */
    transition: 0.1s;
    font-size: 20px;
    color: white;
}

.menu-left a:hover {
    transform: scale(0.9);
    color: red;
}

.menu-left-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 15px 20px 0 20px; */
    height: 30%;
    margin: 20px 5px;
    /* background-color: ; */
    border-radius: 10px;
    padding: 5px;
    
}

.working-window {
    /*display: flex;*/
    justify-content: center;
    width:84vw; 
    height: calc(100vh - 70px);
}

.working-window_1 {
    background-color: #4b8bff;
    
    display: grid;
    justify-content: start;
    margin: 10px;
    grid-template-columns: auto auto auto auto auto;
    /*grid-gap: 50px;*/
    width: 84vw;
    border-radius: 10px;
}

    .working-window_1 a {
        text-decoration: none;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 20px;
        transition: 0.15s;
        font-weight: bold;
        font-size: 20px;
        color: white;
        background-color: rgb(17, 36, 64);
        transition: 0.15s;
    }

.working-window_1 h2:hover {
    transform: scale(0.9);
    
}


.login-class {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: ButtonShadow;
    border-block-color: yellow;
}

button {
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.15s;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(17, 36, 64);
    transition: 0.15s;
}










/*wyci¹gniête z materialized --> https://materializecss.com/getting-started.html*/
========================================================

table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

    table.striped tr {
        border-bottom: none;
    }

    table.striped > tbody > tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
    }

    table.striped > tbody > tr > td {
        border-radius: 0;
    }

    table.highlight > tbody > tr {
        -webkit-transition: background-color .25s ease;
        transition: background-color .25s ease;
    }

        table.highlight > tbody > tr:hover {
            background-color: rgba(242, 242, 242, 0.5);
        }

    table.centered thead tr th, table.centered tbody tr td {
        text-align: center;
    }

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        /* sort out borders */
    }

        table.responsive-table td:empty:before {
            content: '\00a0';
        }

        table.responsive-table th,
        table.responsive-table td {
            margin: 0;
            vertical-align: top;
        }

        table.responsive-table th {
            text-align: left;
        }

        table.responsive-table thead {
            display: block;
            float: left;
        }

            table.responsive-table thead tr {
                display: block;
                padding: 0 10px 0 0;
            }

                table.responsive-table thead tr th::before {
                    content: "\00a0";
                }

        table.responsive-table tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
        }

            table.responsive-table tbody tr {
                display: inline-block;
                vertical-align: top;
            }

        table.responsive-table th {
            display: block;
            text-align: right;
        }

        table.responsive-table td {
            display: block;
            min-height: 1.25em;
            text-align: left;
        }

        table.responsive-table tr {
            border-bottom: none;
            padding: 0 10px;
        }

        table.responsive-table thead {
            border: 0;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
        }
}
        
