@{
    Layout = "_LayoutLog";
}
<style>
    table {
        width: 15%;
    }
</style>
<div>
    <p1></p1>
</div>

<div>
    
</div>

<table>
    <tbody>
        <tr>
            <td>Niepoprawny Login lub Hasło</td>
            
        </tr>
        <tr>
            <td>
                <a href="/">Wróć do ekranu logowania</a>
                
            </td>
        </tr>
    </tbody>
</table>