<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BZRD</title>
    <link href="reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-syrenka">
            <img src="miasto_stoleczne_warszawa_cale.jpg" height="70px" alt="Syrenka">
        </div>
        <div class="nav">
            <h1 class="nav-logo">Biuro Zarządzania Ruchem Drogowym</h1>
            <div class="nav-menu-top">
                <a href="https://umsw.sharepoint.com/:x:/r/sites/msteams_46c5f9_648647/Rejestry/BZRD_Rejestry_tylko_Administrator/TESTY/TESTOWY_Rejestr_projektow_od_2022.xlsx?d=wa7eb0c523df54768895cea5c3c9c263c&csf=1&web=1&e=e3QQrW">Mapa Strony</h2>
                <a href="https://umsw.sharepoint.com/:f:/r/sites/msteams_46c5f9_648647/Rejestry/BZRD_Rejestry_tylko_Administrator/TESTY?csf=1&web=1&e=zG3DCS">Pomoc</h2>
                <a href="mailto:lsnopek@um.warszawa.pl">Napisz</a>
            </div>
        </div>
    </nav>

    <section class="container">
        <div class="menu-left">
            <div class="menu-left-top">
                <a href="#">Strona główna</a>
                <a href="#">Rejestry</a>
                <a href="#">Skany</a>
                <a href="#">Przestrzeń Dyskowa</a>
                <a href="#">Kosz</a>
            </div>  
        </div>
        <div class="working-window">
            <div class="working-window_1">
                <h2 href="#">Tekst_1</h2>
                <h2 href="#">Tekst_2</h2> 
                <h2 href="#">Tekst_3</h2> 
                <h2 href="#">Tekst_4</h2> 
                <h2 href="#">Tekst_5</h2> 
                <h2 href="#">Tekst_6</h2> 
                <h2 href="#">Tekst_7</h2> 
                <h2 href="#">Tekst_8</h2> 
                
            </div>
        </div>
        
        

    </section>
</body>
</html>