@model Login

<link rel="stylesheet" href="~/css/BZRD/style.css" asp-append-version="true" />
@{
    Layout = null; ;
}


<section class="login-class">
    
    @using (var form = Html.BeginForm())
    {
        
        <table>
            <tr>
                <td>Login</td>
                <td>@Html.TextBoxFor(Model => Model.Login1)</td>
            </tr>
            <tr>
                <td>Hasło</td>
                <td>@Html.PasswordFor(Model => Model.Password1)</td>
            </tr>
            <tr>
                <td>
                    <button>Zaloguj</button>
                </td>

            </tr>

        </table>
        

    }
</section>

  
