@model Login

<link rel="stylesheet" href="~/css/BZRD/style.css" asp-append-version="true" />
@{
    Layout = null; ;
}

<style>
    
    div {
        
        padding: 0 15px 0 15px;
        background-color: #c7c7b2;
        border-radius: 10px;
    }
</style>
   

<body>
    <section class="login-class">
        <div>
            @using (var form = Html.BeginForm())
            {

                <table>
                    <tbody>
                        <tr>
                            <td>Login</td>
                            <td>@Html.TextBoxFor(Model => Model.Login1)</td>
                        </tr>
                        <tr>
                            <td>Hasło</td>
                            <td>@Html.PasswordFor(Model => Model.Password1)</td>
                        </tr>
                        <tr>
                            <td>
                                <button>Zaloguj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </section>
</body>


  
