@model Login
@{
    Layout = null;
}



<h1>Zaloguj się</h1>
@using (var form = Html.BeginForm())
{
<table>
    <tr>
        <td>Login</td>
        <td>@Html.TextBoxFor(Model => Model.Login1)</td>
    </tr>
    <tr>
        <td>Hasło</td>
        <td>@Html.PasswordFor(Model => Model.Password1)</td>
    </tr>
    <tr>
        <td>
            <button>Zaloguj</button>
        </td>
        
    </tr>
    
</table>
    <a href="http://localhost:5272/ProjektOR">Strona główna</a>
    
}   
