@*    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    ------------------------------------Login-----------------------------------------
*@


<h1>Logowanie</h1>

<p>
    <ul>
        @for (int i=0; i<10; i++)
        {
            <li>Element @i</li>
        }
    </ul>
</p>