
@{
    Layout = "_Layout2";
}



<h1>Zaloguj się</h1>

<form method="post">
    <input type="text" id="Login1" name="Login1" />
    <input type="text" id="Password1" name="Password1" />
    <button type="submit">Zaloguj</button>
</form>