@model Login

@{
    Layout = "_LayoutLog";
}
@{
    
}
<style>
    .working-window {
        padding: 0;
    }
</style>




<body>
    
    <section>
       
        <div>
            @using (var form = Html.BeginForm())
            {

                <table>
                    <tbody>
                        <tr>
                            <td>Login</td>
                            <td>@Html.TextBoxFor(Model => Model.Login1)</td>
                        </tr>
                        <tr>
                            <td>Hasło</td>
                            <td>@Html.PasswordFor(Model => Model.Password1)</td>
                        </tr>
                        <tr>
                            <td>
                                <button>Zaloguj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            }
        </div>
    </section>
    
</body>


  
